<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

</head>

<body>
  <!-- Add the jQuery library -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo left">LIFEgame&trade;</a>
        <ul class="right">
          <li><a href="/"><i class="material-icons">home</i></a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">

    {{ content }}

  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Finding Your Purposes In Life</h5>
          <p class="grey-text text-lighten-4">We are a group of coworkers and volunteers working together to bring LIFEgame&trade; to Northern California.</p>
          <p class="grey-text text-lighten-4">Lord's Grace Christian Church welcomes spiritual and financial support and collaboration from other partners.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="mailto:lifegame.lordsgrace@gmail.com"><i class="material-icons">email</i></a> <a class="grey-text text-lighten-3" href="tel:+16506230917"><i class="material-icons">phone</i></a> <a class="grey-text text-lighten-3" href="https://goo.gl/maps/fv2nxVsDLN42"><i class="material-icons">place</i></a></li>
            <li><a class="grey-text text-lighten-3" href="http://www.lordsgrace.org/">Lord's Grace Christian Church</a></li>
            <li><a class="grey-text text-lighten-4" href="http://lifeimpactministries.com">Life IMPACT ministries</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container right" >
        LIFEgame&trade; is a registered trade mark of <a class="grey-text text-lighten-4" href="http://lifeimpactministries.com">Life IMPACT ministries</a>.
      </div>
    </div>
  </footer>
</body>
</html>
